## Day Objectives
- list
- tuple
- set
- dictionary
- functions
- Data Analysis Packages
    - Numpy
    - Pandas
    - Matplotlib
    - Seaborn

- Data Structure: We can store different types of data in single variable.
    - List:
        - Defined with []
        - List is ordered
        - Mutable
        - Allow duplicates
        - we can store homogeneous or heterogeneous data.
        - Indexing and Slicing are possible

In [1]:
# list declaration with homogeneous data
l = [1,2,3,4,5]
print(l)
l2 = ['apple','grape','mango','banana']
print(l2)

# heterogeneous data
l3 = [12,2,'steve',9.5]
print(l3)

# allow duplicates
ld = [1,2,3,1,4,3,2]
print(ld)

[1, 2, 3, 4, 5]
['apple', 'grape', 'mango', 'banana']
[12, 2, 'steve', 9.5]
[1, 2, 3, 1, 4, 3, 2]

## Indexing and Slicing
- index starts from 0
- negative indexing starts from -1
- slicing means accessing a part of list or sublist.

In [2]:
students = ['vaishu','jahnavi','sujitha','siri','indu']
print(students)

['vaishu', 'jahnavi', 'sujitha', 'siri', 'indu']

In [3]:
students[1]

'jahnavi'

In [4]:
students[3]
students[-2]

'siri'

In [5]:
students[1:3]

['jahnavi', 'sujitha']

In [6]:
students

['vaishu', 'jahnavi', 'sujitha', 'siri', 'indu']

In [7]:
students[::-2]

['indu', 'sujitha', 'vaishu']

In [8]:
students[::-1]

['indu', 'siri', 'sujitha', 'jahnavi', 'vaishu']

## List Methods
- dir(list)

In [9]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [10]:
# append
c = ['gist','diet','giet','gier']
print(c)

['gist', 'diet', 'giet', 'gier']

list_name.method()

In [11]:
c.append('kiet')
print(c)

['gist', 'diet', 'giet', 'gier', 'kiet']

In [12]:
# extend
c.extend(['pbr','svc'])
print(c)

['gist', 'diet', 'giet', 'gier', 'kiet', 'pbr', 'svc']

In [13]:
# copy
cc = c.copy()
print(cc)
print(c)

['gist', 'diet', 'giet', 'gier', 'kiet', 'pbr', 'svc']
['gist', 'diet', 'giet', 'gier', 'kiet', 'pbr', 'svc']

In [14]:
# insert
c.insert(3,'klu')
print(c)

['gist', 'diet', 'giet', 'klu', 'gier', 'kiet', 'pbr', 'svc']

In [15]:
# index
c.index('pbr')

6

In [16]:
c.index('jntu')

ValueError: 'jntu' is not in list

In [ ]:
# count
d = [10,20,30,10,23,4]
d.count(20)

In [ ]:
d.count(10)

In [ ]:
d.count(100)

In [ ]:
# reverse
d.reverse()

In [ ]:
print(d)

In [ ]:
c

In [ ]:
l3

In [ ]:
# sort
l3.sort()

In [ ]:
c.sort()

In [ ]:
print(c)

In [ ]:
students.sort(reverse=True)

In [ ]:
students

In [ ]:
# clear,pop,remove
c.pop()

In [ ]:
print(c)

In [ ]:
c.remove('gier')
print(c)

In [ ]:
c.clear()
print(c)

## Tuple
- Ordered
- Immutable
- Indexing and Slicing same as list
- defined with ()

In [ ]:
t = (12,3,4,5,2,2,3,3)
print(t)
type(t)

In [ ]:
t[5]

In [ ]:
dir(tuple)

## Tasks
- WAP to print duplicate values in given list
- WAP to print sum of all list elements
- WAP to print all prime numbers in a given tuple.

In [ ]:
# duplicate elements
l = [1,2,3,1,2,4]
d = []
for i in l:
    if (l.count(i)>1) and (i not in d):
        d.append(i)
print(d)

In [ ]:
# sum of list elements
print(sum(p))

In [ ]:
p = [10,5,2,6]
result = 0
for i in p:
    result += i
print(result)

In [ ]:
# prime numbers in tuple
t = (3,11,6,7,9)
for i in t:
    c = 0
    for k in range(1,i+1):
        if i%k==0:
            c+=1
    if c==2:
        print(i)

## Data Analysis Packages
- Numpy - Numerical Python
- We can create N dimentional arrays.
- arrays are like lists in python but faster than lists execution.
- Numpy deals with advanced mathematical operations and matrix operations also.
- we have to import the numpy module to use all the functionalities of that particular module.
    - import numpy as np

In [ ]:
import numpy as np

- We can create a nd array by using python list, tuple

In [ ]:
li = [4,8,2,13,5]
type(li)

### 1D

In [ ]:
ar = np.array(li)
print(ar)
type(ar)

In [ ]:
# ATTRIBUTES
print(ar.ndim)
print(ar.size)
print(ar.itemsize)
print(ar.dtype)

In [ ]:
# using tuple
ar1 = np.array((10,100,1000,10000))
print(ar1)
type(ar1)

In [ ]:
# Indexing and Slicing 1d array elements
print(ar)

In [ ]:
ar[3] # 13

In [ ]:
ar[-4]

In [ ]:
ar[:5]

In [ ]:
ar[-1:-4]

In [ ]:
ar[-3:]

In [ ]:
print(sum(ar),max(ar),min(ar))

### 2D

In [ ]:
# using nested list creation of 2D array
arr_2d = np.array([[1,9,8],[6,7,3]])
print(arr_2d)
type(arr_2d)

In [ ]:
print(arr_2d.ndim)
print(arr_2d.size)
print(arr_2d.itemsize)
print(arr_2d.shape)

In [ ]:
# using nested tuples
a_2d = np.array(((3.6,8,2),(7,12,3)))
print(a_2d)
type(a_2d)
print(a_2d.dtype)

- 2D (rows,columns)
    - first we have to access the row then column
    - arra_name[row_index,col_index]

In [ ]:
# Indexing and Slicing
a_2d[0]

In [ ]:
a_2d[3]

In [ ]:
a_2d[1,2]

In [ ]:
a_2d[0,2]

In [ ]:
a_3d=np.array([[[1,2,3,4.5],[6,7,8,9],[12,34,13,14]]])
print(a_3d)
print(a_3d.ndim)
print(a_3d.shape)
print(a_3d.size)
print(a_3d.itemsize)
print(a_3d.dtype)

In [ ]:
print(a_3d[0,2,1])

In [ ]:
print(a_2d)

In [ ]:
print(a_2d[:,2])

In [ ]:
print(a_2d[:,::2])
print(a_2d[:,::-2])

In [ ]:
print(a_3d)

In [ ]:
print(a_3d[1,1,1])

In [ ]:
print(a_3d[0,1,1])

In [ ]:
print(a_3d)

In [ ]:
print(a_3d[0,1,1:])

In [ ]:
print(a_3d[:,1,:])

In [ ]:
print(a_3d[0,::2,1:3])

In [ ]:
print(dir(np))

In [ ]:
#range
a=np.array(range(1,20,2))
print(a)
print(type(a))
print(a.ndim)

In [ ]:
#arange
b=np.arange(1,10,2)
print(b)
print(type(b))

In [ ]:
#ndmin
c=np.array((1,10,3,12,56),ndmin=10)
print(c)
print(c.ndim)

In [ ]:
#reshape
d=np.arange(10).reshape(1,2,5)
print(d)

In [ ]:
d=np.arange(10).reshape(2,5,1)
print(d)
print(d[:,3,0])

In [ ]:
d=np.arange(1,30,2)
print(d)
print(d.size)

In [ ]:
d=np.arange(1,30,2).reshape(1,3,5)
print(d)

In [ ]:
np.max(d)
np.min(d)
np.sum(d)

In [ ]:
print(np.argmin(d))  #index 
print(np.argmax(d))

In [ ]:
#linspace
a=np.linspace(1,30,20,retstep=True)
print(a)

In [ ]:
help(np.linspace)

In [ ]:
b=np.logspace(1,20,10)
print(b)

In [ ]:
#zeros
c=np.zeros((2,3),dtype=int)
print(c)

In [ ]:
#ones
d=np.ones((3,3))
print(d)

In [ ]:
#full
e=np.full((4,3),'py')
print(e)

In [ ]:
e=np.full((4,3),45)
print(e)

In [ ]:
np.diag(e)

In [ ]:
c=np.empty((2,4))
print(c)

In [ ]:
d=np.eye(4,4)
print(d)

In [ ]:
np.diag(d)

In [ ]:
#random
a=np.random.randint(1,30,12)
print(a)

In [ ]:
import random
print(dir(random))

In [ ]:
b=np.random.randint(1,30,12).reshape(3,4)
print(b)

In [ ]:
print(np.max(b))
print(np.argmax(b))
print(np.min(b))
print(np.argmin(b))

In [ ]:
np.sort(b)

In [ ]:
print(b)

In [ ]:
print(np.argsort(b))

In [ ]:
np.sort(b,axis=0)

In [ ]:
np.argsort(b,axis=0)

In [ ]:
np.average(b)

In [ ]:
np.mean(b)

In [ ]:
np.median(b)

In [ ]:
print(b)

In [ ]:
print(b>10)

In [ ]:
print(b[b>10])

In [ ]:
b[b>15].sum()

In [ ]:
#randn
r=np.random.randn()
print(r)

In [ ]:
a=np.random.random()
print(a)

In [ ]:
b=np.random.randn(3,4)
print(b)

In [ ]:
c=np.random.randint(1,10,(3,3))
print(c)

In [ ]:
d=np.random.randint(10,20,(3,3))
print(d)

In [ ]:
print(c+d)

In [ ]:
print(c-d)

In [ ]:
print(c@d)

In [ ]:
print(c%d)

In [ ]:
np.log2(10)

In [ ]:
np.exp(1)

In [ ]:
np.tan(30)

In [ ]:
np.cos(90)

## Pandas
- panel data
- By using pandas,we can do data analysis,data manipulation,and data cleaning etc....
- Two types of pandas
    - Series
        - Sequence of data
        - Syntax: pandas.Series(data,index,dtype)
    - DataFrames
        - Data with row and columns
- How to import pandas
    - import pandas
- To install pandas
    - pip install pandas
    - conda install pandas

In [ ]:
pip install pandas

In [ ]:
import pandas as pd

In [ ]:
print(dir(pd))

###### pandas Series
- To create to series in numpy arrays,list,tuples
- pd.Series()

In [ ]:
print(dir(pd.Series))

In [ ]:
#using list
a=pd.Series([2,3,4,5])
print(a)

In [ ]:
#using tuple
b=pd.Series((5,6,7,8))
print(b)

In [ ]:
#using numpy 1d-array
c=pd.Series(np.arange(10,20,2))
print(c)

In [ ]:
d=pd.Series(np.arange(10,20,2),index=['a','b','c','d','e'])
print(d)

In [ ]:
e=pd.Series(['sindhu','nandu','dinesh','ravi','sita'],index=['i','ii','iii','iv','v'])

In [ ]:
print(e)

In [ ]:
e[2]
e['iii']

In [ ]:
e['ii':'v']

In [ ]:
e[1:5]

#### DataFrames
- To create dataframe
    - list,tuple,dictionaries
- Syntax:pd.DataFrame(data,index,dtype)

In [ ]:
pd.DataFrame([2,3,5,7,6])

In [18]:
import pandas as pd

In [25]:
pd.DataFrame(['a','b','c','d'],index=[1,2,3,4],columns=['chr'])

  chr
1   a
2   b
3   c
4   d

#### How to acess
- to get rows
    - DataFrame[start_index:stop_index]
- to get columns
    - DataFrame[column_name]
    - to get 2 or more cplumns
        - DataFrame[[column_name1,column_name2]]

#### iloc and loc
- iloc: to access default index 
- loc: to acess userdefined index

In [28]:
#keys are considered as column
a=pd.DataFrame({'names':['vishva','mahesh','krishna','fazil'],
              'rollnum':[90,86,98,78],
              'college':['diet','kite','gist','kits']})
a

     names  rollnum college
0   vishva       90    diet
1   mahesh       86    kite
2  krishna       98    gist
3    fazil       78    kits

In [29]:
a.iloc[1]

names      mahesh
rollnum        86
college      kite
Name: 1, dtype: object

In [31]:
a.iloc[:2]

    names  rollnum college
0  vishva       90    diet
1  mahesh       86    kite

In [34]:
a.iloc[::2]

     names  rollnum college
0   vishva       90    diet
2  krishna       98    gist

In [36]:
a.iloc[1::2]

    names  rollnum college
1  mahesh       86    kite
3   fazil       78    kits

In [37]:
a.iloc[1:2]

    names  rollnum college
1  mahesh       86    kite

In [39]:
b=pd.DataFrame({'names':['vishva','mahesh','krishna','fazil'],
              'rollnum':[90,86,98,78],
              'college':['diet','kite','gist','kits']},
               index=[101,102,103,104])
b

       names  rollnum college
101   vishva       90    diet
102   mahesh       86    kite
103  krishna       98    gist
104    fazil       78    kits

In [48]:
b.loc[102]

names      mahesh
rollnum        86
college      kite
Name: 102, dtype: object

In [50]:
b.loc[[102,104]]

      names  rollnum college
102  mahesh       86    kite
104   fazil       78    kits

In [51]:
b['names']

101     vishva
102     mahesh
103    krishna
104      fazil
Name: names, dtype: object

In [53]:
b[['names','college']]

       names college
101   vishva    diet
102   mahesh    kite
103  krishna    gist
104    fazil    kits

In [55]:
#FILE ACCESSING
r=pd.read_csv('IRIS.csv')
print(r)

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
6             4.6          3.4           1.4          0.3     Iris-setosa
7             5.0          3.4           1.5          0.2     Iris-setosa
8             4.4          2.9           1.4          0.2     Iris-setosa
9             4.9          3.1           1.5          0.1     Iris-setosa
10            5.4          3.7           1.5          0.2     Iris-setosa
11            4.8          3.4           1.6          0.2     Iris-setosa
12            4.8          3.0           1.4          0.1     Iris-setosa
13            4.3          3.0           1.1          0.1     Iris-setosa
14            5.8          4.0           1.2          0.2     Iris-setosa
15            5.7          4.4           1.5          0.4     Iris-setosa
16            5.4          3.9           1.3          0.4     Iris-setosa
17            5.1          3.5           1.4          0.3     Iris-setosa
18            5.7          3.8           1.7          0.3     Iris-setosa
19            5.1          3.8           1.5          0.3     Iris-setosa
20            5.4          3.4           1.7          0.2     Iris-setosa
21            5.1          3.7           1.5          0.4     Iris-setosa
22            4.6          3.6           1.0          0.2     Iris-setosa
23            5.1          3.3           1.7          0.5     Iris-setosa
24            4.8          3.4           1.9          0.2     Iris-setosa
25            5.0          3.0           1.6          0.2     Iris-setosa
26            5.0          3.4           1.6          0.4     Iris-setosa
27            5.2          3.5           1.5          0.2     Iris-setosa
28            5.2          3.4           1.4          0.2     Iris-setosa
29            4.7          3.2           1.6          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
120           6.9          3.2           5.7          2.3  Iris-virginica
121           5.6          2.8           4.9          2.0  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
123           6.3          2.7           4.9          1.8  Iris-virginica
124           6.7          3.3           5.7          2.1  Iris-virginica
125           7.2          3.2           6.0          1.8  Iris-virginica
126           6.2          2.8           4.8          1.8  Iris-virginica
127           6.1          3.0           4.9          1.8  Iris-virginica
128           6.4          2.8           5.6          2.1  Iris-virginica
129           7.2          3.0           5.8          1.6  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
132           6.4          2.8           5.6          2.2  Iris-virginica
133           6.3          2.8           5.1          1.5  Iris-virginica
134           6.1          2.6           5.6          1.4  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica
136           6.3          3.4           5.6          2.4  Iris-virginica
137           6.4          3.1           5.5          1.8  Iris-virginica
138           6.0          3.0           4.8          1.8  Iris-virginica
139           6.9          3.1           5.4          2.1  Iris-virginica
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]