## Python Data Structures

In [1]:
# how can we print a statement in python
print("This is day 1")

This is day 1

In [2]:
print(100)
print(19.8)

100
19.8

## Data types
- int
- float
- str

In [3]:
type(20)

int

In [4]:
type(9.4)

float

In [5]:
type('avanthi')

str

## Variables
- It is a location where we can store any value.

**Varibale Naming Rules**
- Should n't starts with numbers.
- Doesn't contain any special characters except underscore
- We can't use keywords as variable name
- Should starts with any alphabet or underscore
- Numbers are allowed after a character

abc
a@b
value_count
roll num
a12
2d
return

**1,3,5 are valid**

## Operators in python
- there are 7 types of operators in python
    - Arithmetic
    - Assignment
    - Bitwise
    - Logical
    - Comparison
    - Identity
    - Membership

In [8]:
# Arithmetic --> +,-,*,/,//,%,**
a = 10
b = 8
print(a+b,a-b,a*b,a/b,a//b,a%b,b**3)

18 2 80 1.25 1 2 512

In [13]:
# Assignment --> =,+=,-=,*=,/=,//=,%=,**=
k = 90

k%=10
print(k)

k*=4
print(k)

k += 19
k -= 8

k * 3
print(k)

0
0
11

In [14]:
# Comparison Operators -> <,>,<=,>=,!=,==
r = 89
s = 62
print(r>s,s>r,r==2,s!=r,r==r,r>=s,s<=r)
# how many False values we get as output.

True False False True True True True

In [15]:
p=q=20
print(p<q,q>p,p==q,p!=q,p>=q,q<=p)
# how many True values we get.

False False True False True True

- we can compare any two values and check only one condition using comparison operators.
- if we want to check two more conditions at a time then we use Logical operators.

In [16]:
# Logical Operators --> and,or, not
m = 12
n = 31

print(m<n and m>10)

True

- and
    - it will return True if both conditions are True
    - otherwise False
- or
    - it will return True if any one condition is True otherwise False
- not
    - it will return the opposite value
    - if True then False
    - if False then True

In [17]:
print(m,n)

12 31

In [18]:
m<90 or n==m

True

In [19]:
not((m<8 and n!=m)) or (n<0 or m!=12)

True

In [20]:
not((m<8 or n!=m) or (n<0 and m!=12))

False

### Bitwise Operators
- These operators operates on bits of given number.
- &,|,^,<<,>>
- to convert an integer into binary format we have a method called **bin()**
- to convert a binary value to integer
    **int(binary,2)**

In [21]:
7&4

4

In [ ]:
111
100
---
100

In [22]:
bin(100) # binary value for 100

'0b1100100'

In [24]:
# integer value for 101010011
int('101010011',2)
# 2 is the base value for binary
# 8 is the base value for octal
# 16 is the base value for hexa

339

In [27]:
189|122

255

In [26]:
bin(189)
bin(122)

'0b1111010'

In [ ]:
10111101
01111010
--------
11111111

In [28]:
int('11111111',2)

255

- XOR
    - it will return False if both inputs are same
    - otherwise True

In [32]:
67^89

26

In [30]:
bin(67)
bin(89)

'0b1011001'

In [ ]:
1000011
1011001
-------
0011010

In [31]:
int('11010',2)

26

In [33]:
#<< --> leftshift
5<<4

80

In [34]:
#>> --> rightshift
5>>4

0

In [37]:
# Identity Operators --> is , is not
a = 90
b = 8
c = b
c = a
a is b

False

In [38]:
a is c

True

In [39]:
b is c
# always access the last assigned value.

False

In [40]:
a is not b

True

In [41]:
# membership operators --> in, not in
# what is the o/p for below line
5 in range(1,5)

False

In [42]:
10 in range(10)

False

In [43]:
0 not in range(6)

False

In [44]:
5 in range(2,10,2)

False

In [45]:
'i' in 'Engineering'

True

In [46]:
'g' in 'Engineering'

True

In [47]:
'ge' in 'Engineering'

False

In [48]:
'p' not in 'Python'

True

In [49]:
'eve' in 'Steve Jobs'

True

In [50]:
'eJ' not in 'Steve Jobs'

True

## Conditional Statements
- if
- if else
- if elif else
- if elif ...ladder
- nested if

## Tasks

- WAP to check given year is leap year or not
- wap to check whether a person is eligible to vote or not by taking his/her age as input from the user.
- wap to print maximum of given 5 numbers.
- wap to develop a grading system for a student one subject marks.
- wap to check given number is divisible by both 11 and 7 or not.

In [4]:
# Task-1
year = int(input("Enter year: "))
if year%400==0 or(year%4==0 and year%100!=0):
    print("Leap Year")
else:
    print("Not a leap year")

Enter year: 2022
Not a leap year

In [6]:
# Task-2
age = int(input("Enter ur age: "))
if age>=18:
    print("You can vote")
else:
    print("You are not eligible")

Enter ur age: 23
You can vote

In [7]:
# Task-3
a = int(input())
b = int(input())
c = int(input())
d = int(input())
e = int(input())
if a>b and a>c and a>d and a>e:
    print(a,"is maximum")
elif b>c and b>d and b>e:
    print(b,"is maximum")
elif c>d and c>e:
    print(c,"is maximum")
elif d>e:
    print(d,"is maximum")
else:
    print(e,"is maximum")

43
12
67
11
9
67 is maximum

In [9]:
# Task-4
m = int(input("Enter ur marks in subject maths: "))
if m>=80 and m<=100:
    print("Grade A")
elif m<80 and m>=65:
    print("Grade B")
elif m<65 and m>=40:
    print("Grade C")
else:
    print("Fail")

Enter ur marks in subject maths: 75
Grade B

In [10]:
# Task - 5
num = int(input("Enter a number: "))
if num%11==0 and num%7==0:
    print("Divisible by both 11 and 7")
else:
    print("Not divisible")

Enter a number: 77
Divisible by both 11 and 7

## Loops
- for  loop
```
for var in sequence:
    statements
```
- while loop
    ```
    var inialization
    while condition:
        statements
        incre/decre
    ```

In [52]:
# wap to print 1 to 10 numbers
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [54]:
# 10 to 1 numbers
for j in range(10,0,-1):
    print(j,end=" ")

10 9 8 7 6 5 4 3 2 1

In [55]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [56]:
for ch in 'geethanjali':
    print(ch)

g
e
e
t
h
a
n
j
a
l
i

In [57]:
for i in range(1,20,3):
    print(i,end=" ")

1 4 7 10 13 16 19

In [58]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
for i in range(a,b):
    print(i,end=" ")

Enter first number: 30
Enter second number: 50
30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

## while loop

In [60]:
i = 1
while i<=10:
    print(i,end=" ")
    i += 1

1 2 3 4 5 6 7 8 9 10

In [1]:
i = 10
while i>=1:
    print(i,end=" ")
    i -= 1

10 9 8 7 6 5 4 3 2 1

In [2]:
# program to print even numbers in a given range
i = 1
while i<=10:
    if i%2==0:
        print(i)
    i += 1

2
4
6
8
10

## Tasks
- WAP to print all odd numbers in a given range.
- WAP to print all factors for a given number.
- WAP to print factors count of a given number.
- WAP to print factors sum of a given number.
- WAP to check given number is prime or not
- WAP to print factorial value of a given number.

In [11]:
# Task-1
lb = int(input("Enter lowerbound value: "))
ub = int(input("Enter upperbound value: "))
for i in range(lb,ub+1):
    if i%2==1:
        print(i,end=" ")

Enter lowerbound value: 20
Enter upperbound value: 50
21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [12]:
# Task-2
n = int(input("Enter a number: "))
for i in range(1,n+1):
    if n%i==0:
        print(i,end=" ")

Enter a number: 16
1 2 4 8 16

In [18]:
# Task -3
n = int(input("Enter a number: "))
c = 0
for i in range(1,n+1):
    if n%i==0:
        c += 1

print(c)

Enter a number: 20
6

In [14]:
# Task- 4
n = int(input("Enter a number: "))
fact_sum = 0
for i in range(1,n+1):
    if n%i==0:
        fact_sum += i
print(fact_sum)

Enter a number: 18
39

In [15]:
# Task-6
n = int(input("Enter a number: "))
c = 0
for i in range(1,n+1):
    if n%i==0:
        c += 1
if c==2:
    print("Prime")
else:
    print("Not prime")

Enter a number: 14
Not prime

In [16]:
# Task - 5
n = int(input("Enter a number: "))
result = 1
for i in range(1,n+1):
    result *= i
print(result)

Enter a number: 6
720

In [19]:
n = int(input("Enter a number: "))
c = 0
for i in range(1,n):
    if n%i==0:
        c += 1
if c==1:
    print("Prime")
else:
    print("Not prime")

Enter a number: 7
Prime

In [23]:
# perfect number
n = int(input("Enter a number: "))
fact_sum = 0
for i in range(1,n//2+1): # 1     2     3     4
    if n%i==0:        # 6%1=0  6%2=0  6%3=0  6%4!=0
        fact_sum += i # 1       3      6      6
if fact_sum==n:       # 6==6
    print("Perfect")
else:
    print("Not a perfect")

Enter a number: 496
Perfect

## Strings
- Collection of characters or sequence of characters which is immutable meaning is that we can't change or modify anything after it's declaration.
- We can define a string by using single, double or triple quotes.
    - single line strings are defined by using single or double quotes.
    - multiline strings are defined by using triple quotes in multiple lines
- We can access each character in string by using it's index value.
    - index value starts from 0
- Slicing is another main thing which is used to access a part of the main string called as substring.
- There are built-in methods in strings.
    - dir(str) --> using this we can see all the attributes and methods in string concept.

In [24]:
s1 = 'this is single line string'
s2 = "This is the string defined with double quotes"
s3 = '''This is multi line
string which is
defined with triple quotes'''

In [25]:
print(s1)

this is single line string

In [26]:
print(s2)

This is the string defined with double quotes

In [27]:
print(s3)

This is multi line
string which is
defined with triple quotes

In [28]:
d = "this is 
invalid declaration"
print(d)

SyntaxError: EOL while scanning string literal (<ipython-input-28-c522f7b1ba21>, line 1)

- TYpes of Indexing
    - Positive or forward indexing
        - starts from 0
        - left to right
    - Negative or Backward indexing
        - starts from -1
        - from right to left

- str_name[index_value]

In [29]:
# indexing
s = "Steve Jobs"
s[3] # v

'v'

In [30]:
# s
print(s[9],s[-1])

s s

### Slicing
- str_name[start_ind:stop_ind:incre/decre]

In [31]:
print(s)

Steve Jobs

In [33]:
# eve
s[2:5]
s[-8:-5]

'eve'

In [37]:
# Jobs
s[6:11]
s[6:]
s[-4:]

'Jobs'

In [39]:
# SeeJb
s[0:11:2]
s[::2]

'SeeJb'

## String methods

In [50]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [53]:
a = "cOmpUTer EngINeErInG"
a.capitalize()

'Computer engineering'

In [54]:
a.lower()

'computer engineering'

In [55]:
a.upper()

'COMPUTER ENGINEERING'

In [56]:
a.swapcase()

'CoMPutER eNGinEeRiNg'

In [58]:
a

'cOmpUTer EngINeErInG'

In [57]:
a.title()

'Computer Engineering'

In [61]:
a

'cOmpUTer EngINeErInG'

In [62]:
a.index('E')

9

In [63]:
a.rindex('E')

15

In [64]:
a.index('X')

ValueError: substring not found

In [65]:
a.find('x')

-1

In [66]:
a.find('E')

9

In [67]:
a.rfind('E')

15

In [68]:
k = 'engineering'
k.count('e') # return the character occurances

3

In [69]:
len(k)

11

In [70]:
# zfill,center,ljust,rjust
k.center(20)

'    engineering     '

In [72]:
k.center(15,'*')

'**engineering**'

In [73]:
k.center(6)

'engineering'

In [74]:
k.zfill(14)

'000engineering'

In [75]:
k.zfill(30)

'0000000000000000000engineering'

In [76]:
k.ljust(16)

'engineering     '

In [77]:
k.ljust(18,'o')

'engineeringooooooo'

In [78]:
k.rjust(16)

'     engineering'

In [79]:
k.rjust(20,'@')

'@@@@@@@@@engineering'

In [80]:
# strip,lstrip,rstrip
p = '   geetha anjali   '
p.strip()

'geetha anjali'

In [81]:
p.lstrip()

'geetha anjali   '

In [82]:
p.rstrip()

'   geetha anjali'

In [83]:
# replace(old_string,new_Str)
p.replace(' ','')

'geethaanjali'

In [84]:
b = 'every one should know how to program'
b.split()

['every', 'one', 'should', 'know', 'how', 'to', 'program']

In [85]:
b.split('o')

['every ', 'ne sh', 'uld kn', 'w h', 'w t', ' pr', 'gram']

In [88]:
print(b)

every one should know how to program

In [87]:
# partition, rpartition
b.partition(' ')

('every', ' ', 'one should know how to program')

In [89]:
b.partition('r')

('eve', 'r', 'y one should know how to program')

In [90]:
b.rpartition('r')

('every one should know how to prog', 'r', 'am')

In [ ]:
# Practice all the remaining methods

## Python Data Structures
- Lists
- Tuples
- Sets
- Dictionaries.